<section class="full-bleed-section">
  <div class="full-bleed">
    <div class="container">
      <div class="brand">
        <span class="lato-900"><strong>WILD CARD</strong></span><span class="lato-100"> ULTIMATE</span>
      </div>
    </div>
  </div>
  <div class="down-hint">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5" id="down-hint-arrow">
          <span class="fa-stack fa-2x">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-chevron-down fa-stack-1x"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Praesent condimentum dui sed lacus aliquet, et cursus diam tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam cursus, mauris ac pharetra eleifend, odio erat posuere mauris, eu lacinia tortor lorem at nunc. Duis molestie enim et rutrum posuere. Ut nibh sapien, vestibulum elementum posuere sit amet, aliquam viverra libero. Quisque congue accumsan lectus, eu gravida ex euismod vulputate. Vestibulum at accumsan risus. Maecenas varius molestie tellus et sagittis. Nam sed consequat quam. Quisque malesuada iaculis ante. Etiam efficitur nibh sit amet sem pretium placerat.
      </div>
      <div class="col-md-6">
        Donec quis quam non lectus molestie scelerisque. Morbi commodo tincidunt iaculis. Pellentesque consequat justo purus. Nunc odio massa, eleifend quis nunc vitae, placerat venenatis lorem. Donec viverra, turpis non rhoncus laoreet, dui justo faucibus libero, sit amet congue arcu dolor et erat. Pellentesque varius vulputate sem id iaculis. Donec nunc metus, hendrerit et sodales in, tincidunt quis diam. Suspendisse et dictum ex. Vivamus urna erat, varius vitae dui eu, molestie convallis orci. Mauris bibendum tristique ante, a tincidunt sem euismod hendrerit. Pellentesque sed augue orci. Fusce auctor eu neque a dictum.
      </div>
    </div>
  </div>
</section>
<section class="section" id="tryout">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius orci ut sem tristique varius. Maecenas et nisi id nisl dapibus tempor congue quis purus. Pellentesque sodales velit vel placerat varius. Ut non est sed nunc volutpat semper quis a massa. Donec venenatis in arcu nec auctor. Maecenas ultrices augue sit amet commodo pellentesque. Curabitur venenatis metus vel vulputate pretium. Donec interdum condimentum neque ac bibendum. Vestibulum mollis, eros nec maximus viverra, orci lorem posuere lectus, eu mollis sapien magna in ipsum. Proin non diam ultrices velit accumsan faucibus. Vestibulum a eros at tortor consequat semper quis a ligula.
      </div>
    </div>
  </div>
</section>
<section class="section" id="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Donec quis quam non lectus molestie scelerisque. Morbi commodo tincidunt iaculis. Pellentesque consequat justo purus. Nunc odio massa, eleifend quis nunc vitae, placerat venenatis lorem. Donec viverra, turpis non rhoncus laoreet, dui justo faucibus libero, sit amet congue arcu dolor et erat. Pellentesque varius vulputate sem id iaculis. Donec nunc metus, hendrerit et sodales in, tincidunt quis diam. Suspendisse et dictum ex. Vivamus urna erat, varius vitae dui eu, molestie convallis orci. Mauris bibendum tristique ante, a tincidunt sem euismod hendrerit. Pellentesque sed augue orci. Fusce auctor eu neque a dictum.
      </div>
      <div class="col-md-6">
        Aliquam eget leo libero. Aenean eget semper est. Donec diam purus, interdum eu dui vitae, imperdiet tempor metus. Integer ultrices quam ac nibh rhoncus tincidunt. Duis elementum, tellus elementum aliquet tristique, eros sapien tincidunt ex, sit amet varius justo orci a quam. Vivamus consequat mattis dui nec laoreet. Nullam rutrum lacus in metus tincidunt, vitae blandit quam euismod. Curabitur accumsan ligula quis diam faucibus molestie. Nulla facilisi. Donec sit amet vehicula nibh. Aenean eu pretium massa, a suscipit sapien. Morbi tristique maximus tempor. Curabitur sit amet dui a dolor interdum venenatis sit amet accumsan eros.
      </div>
    </div>
  </div>
</section>
