<section class="full-bleed-section">
  <div class="full-bleed">
    <div class="container">
      <div class="brand">
        <span class="lato-900"><strong>WILD CARD</strong></span><span class="lato-100"> ULTIMATE</span>
      </div>
      <div class="sponsor">
        <span>sponsored by </span>
        <span class="five-ultimate">
          <a href="http://fiveultimate.com" target="_blank">
            <%= image_tag("five-ultimate-logo.png", width: '160') %>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="down-hint">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5" id="down-hint-arrow">
          <span class="fa-stack fa-2x fade-bounce">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-chevron-down fa-stack-1x"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Who are we? We're Card.</h1>
        <hr class="wc-hr"></hr>
        <p>
        A Boston-based Mixed Club Ultimate team born in 2012 from the idea that diverse talent with focused, hard work can achieve great things. 
        Wild Card is returning for its fifth season to test its mettle against the top teams in the United States and abroad. 
        After four consecutive appearances at the USAU Club Championships, including two semifinals appearances and a Team Spirit award, Wild Card will kick off its 2016 summer ready to work toward another successful fall. 
        </p>
        <p>
        As a young and determined team, we look to build each season one point at a time, and strive to maintain a positive atmosphere on the playing field by supporting each other, honoring our opposition, and upholding the spirit of competition.
        </p>
      </div>
    </div>
  </div>
  <div class="tryout-banner fixed">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          If you are interested in trying out for Wild Card for the 2016 season, please complete <a href="https://docs.google.com/forms/d/17Pudc2CH0_7O0kqDJ44NzDl1T8ovpHNSdmLCPxfhJ3U/viewform?c=0&w=1" target="_blank">this survey</a>!
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="values">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h1>Work Card. Play Card.</h1>
        </div>
        <p>
          Thinking about the team we want to be both on and off the field, numerous Wild Card members past and present contributed to an articulation of the shared vision and values that we seek to represent. 
        </p>
        <p>
          Wild Card strives to be a tenacious yet spirited team that is respected by its opponents and adored by its members. We seek to be a premier mixed club team in the Northeast and a perennially competitive team nationally. We do this by playing elite ultimate while having fun, building a strong team community, and combining our dedication to hard work, love for our teammates, and passion for the sport.
        </p>
        <p>
        In pursuing this purpose, we are guided by four core values: 
        <ul>
          <li><strong>Supportive Team Culture:</strong>  Maintaining a fun, positive team culture on and off the field as a foundation to our success that stays consistent through challenges.</li>
          <li><strong>Team above Self:</strong>  Valuing team success over individual accomplishments or contributions.</li>
          <li><strong>Commitment to Mixed Ultimate:</strong>  Promoting equal opportunities for both our women and our men to develop and to contribute as players and as leaders.</li>
          <li><strong>Commitment to Process:</strong>  Committing to continuous personal and team improvement.  We recognize that successes are built through hard work and team bonding.</li>
        </ul>
        </p>
        <p>
        Our mission, vision and values are embodied in Wild Card's three guiding principles: Passion, Ownership, and Process, or "POP." 
        </P>
      </div>
    </div>
  </div>
</section>
<section class="section" id="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <p>
        Unfortunately, our youthful energy, never-say-die attitudes, and good sportsmanship won't be quite enough to get our team to tournaments this coming season. We need your help!
        </p>
        <div class="row icon-row">
          <div class="col-xs-4 icon-tile">
            <i class="fa fa-money fa-4x"></i>
          </div>
          <div class="col-xs-4 icon-tile">
            <i class="fa fa-plane fa-4x"></i>
          </div>
          <div class="col-xs-4 icon-tile">
            <i class="fa fa-trophy fa-4x"></i>
          </div>
        </div>
        <p>
        By clicking the green donate button below, you will be redirected to Paypal where you can make a donation to help support our team. Every dollar donated will go towards funding our team's travel and uniform expenses in our upcoming season.
        </p>
        <p>
        Whether you can donate $1 or $100, you are making a hugely valuable and highly appreciated contribution to our team. We sincerely thank you for your time and consideration.
        </p>
        Regards, 
        <br>
        <span class="signature">Wild Card Ultimate</span>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="donate-form">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input TYPE="hidden" name="return" value="http://www.wildcardultimate.com/#thank-you">
          <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHVwYJKoZIhvcNAQcEoIIHSDCCB0QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCwaukUirzFhH3mZdwVZ7Z/OdRO+ryMM7UflZ4ETXg6YrDEdwt9UGfnfgfN51TXWXyo57k313lz7TVKT1LBxnxzW62bo0ZdbZ4Cjm8Gm4aQRs3B7t3Jcqp8y9qQU9RvLsWa7Pqy5vyhMDKFZweu2outduQGBY6Zf120vcQX7BfYNTELMAkGBSsOAwIaBQAwgdQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIvIkPH9/L8ZSAgbBG+ZTntCSm6TPHUg2xQk+luZamZFRk2qHnJjwb5QZYGxcTFuKTaj0mp6D7FDabGnb/7BsshjZa3LvGkO11lzHFg/AniyTknWuj37njOptRBis1GXK/sX/IFTdkjhMyjHKzEE3jNvdDyu6Ty3x/qFfnCZoQakxTozuRqXrLiBLscXv5SsQQEhFikoa1TJISnYcrmHmpGnaOVknP54zKCKXZ6xbg5FVoDM/HlIUH5N76N6CCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE0MDMwOTIzMzU1NlowIwYJKoZIhvcNAQkEMRYEFOO0C8SPQH8XONEF4s+7mAAXNJaYMA0GCSqGSIb3DQEBAQUABIGAgwDupgap8+OdFMrgzMdKX8iVJvlKi7GIspJmqXFqjVT6DppQhPu1u4OXSerkPjFKqnpz3ZAfHbHSkwTJd8SweXVXFFvvnp+s/XKyJoRYNeP//m6xcCZ8O5zMfGctCvh25rmEw3xXpx/VLHDkfCuj2K5jN1VQRI90QxlzZ7xKmzc=-----END PKCS7-----
          ">
          <button type="submit" class="btn btn-success btn-lg btn-donate">Donate</button>
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {
    var animating = false;
    var lastScrollTop = $(document).scrollTop();
    var bannerOuterHeight = $(".tryout-banner").outerHeight();

    function scrollListener(){
      lastScrollTop = $(document).scrollTop();
      requestAnimation();
    }

    function updateBodyMargin(){
      bannerOuterHeight = $(".tryout-banner").outerHeight();
      $('body').css("margin-bottom", bannerOuterHeight + "px");
    }

    function requestAnimation(){
      if (!animating){
        animating = true;
        if (window.requestAnimationFrame){
          requestAnimationFrame(update);
        }
        else {
          update();
        }
      }
    }

    function update(){
      var windowHeight = $(window).height();
      if ((lastScrollTop + windowHeight) > ($("#about").offset().top + $("#about").height() + windowHeight*.12)){
        $(".tryout-banner").slideDown();
      }
      else {
        $(".tryout-banner").slideUp();
      }
      animating = false;
    }

    $(window).on('scroll touchmove touchstart',  scrollListener);
    $(window).resize(updateBodyMargin);
    updateBodyMargin();

  });
</script>
