<div class="full-bleed-section">
  <div class="full-bleed">
    <div class="container push">
      <div class="brand">
        <span class="lato-900"><strong>WILD CARD</strong></span><span class="lato-100"> ULTIMATE</span>
      </div>
    </div>
  </div>
</div>
