<section class="full-bleed-section">
  <div class="full-bleed">
    <div class="container">
      <div class="brand">
        <span class="lato-900"><strong>WILD CARD</strong></span><span class="lato-100"> ULTIMATE</span>
      </div>
    </div>
  </div>
  <div class="down-hint">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5" id="down-hint-arrow">
          <span class="fa-stack fa-2x fade-bounce">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-chevron-down fa-stack-1x"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>We are Wild Card Ultimate.</h2>
        Born in 2012 from the idea that diverse talent with focused, hard work can achieve great things, Wild Card returns for its fourth season to test its mettle against the top teams in the United States and abroad. After three consecutive appearances at the USAU Club Championships, including two semi-final appearances and a Team Spirit award, Wild Card kicks off its summer ready to work toward another fall success. This young, determined team looks to build each season one point at a time, always supporting each other by creating a positive atmosphere while honoring its opponent and the spirit of competition on the field.  
      </div>
    </div>
  </div>
</section>
<section class="section" id="tryout">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla varius orci ut sem tristique varius. Maecenas et nisi id nisl dapibus tempor congue quis purus. Pellentesque sodales velit vel placerat varius. Ut non est sed nunc volutpat semper quis a massa. Donec venenatis in arcu nec auctor. Maecenas ultrices augue sit amet commodo pellentesque. Curabitur venenatis metus vel vulputate pretium. Donec interdum condimentum neque ac bibendum. Vestibulum mollis, eros nec maximus viverra, orci lorem posuere lectus, eu mollis sapien magna in ipsum. Proin non diam ultrices velit accumsan faucibus. Vestibulum a eros at tortor consequat semper quis a ligula.
      </div>
    </div>
  </div>
</section>
<section class="section" id="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        Donec quis quam non lectus molestie scelerisque. Morbi commodo tincidunt iaculis. Pellentesque consequat justo purus. Nunc odio massa, eleifend quis nunc vitae, placerat venenatis lorem. Donec viverra, turpis non rhoncus laoreet, dui justo faucibus libero, sit amet congue arcu dolor et erat. Pellentesque varius vulputate sem id iaculis. Donec nunc metus, hendrerit et sodales in, tincidunt quis diam. Suspendisse et dictum ex. Vivamus urna erat, varius vitae dui eu, molestie convallis orci. Mauris bibendum tristique ante, a tincidunt sem euismod hendrerit. Pellentesque sed augue orci. Fusce auctor eu neque a dictum.
      </div>
      <div class="col-md-6">
        Aliquam eget leo libero. Aenean eget semper est. Donec diam purus, interdum eu dui vitae, imperdiet tempor metus. Integer ultrices quam ac nibh rhoncus tincidunt. Duis elementum, tellus elementum aliquet tristique, eros sapien tincidunt ex, sit amet varius justo orci a quam. Vivamus consequat mattis dui nec laoreet. Nullam rutrum lacus in metus tincidunt, vitae blandit quam euismod. Curabitur accumsan ligula quis diam faucibus molestie. Nulla facilisi. Donec sit amet vehicula nibh. Aenean eu pretium massa, a suscipit sapien. Morbi tristique maximus tempor. Curabitur sit amet dui a dolor interdum venenatis sit amet accumsan eros.
      </div>
    </div>
  </div>
</section>
<script>
  $(document).ready(function () {

    var lastScroll = $(document).scrollTop();

    var _ = function(obj) {
      if (obj instanceof _) return obj;
      if (!(this instanceof _)) return new _(obj);
      this._wrapped = obj;
    };

    _.throttle = function(func, wait, options) {
      var context, args, result;
      var timeout = null;
      var previous = 0;
      options || (options = {});
      var later = function() {
        previous = new Date;
        timeout = null;
        result = func.apply(context, args);
      };
      return function() {
        var now = new Date;
        if (!previous && options.leading === false) previous = now;
        var remaining = wait - (now - previous);
        context = this;
        args = arguments;
        if (remaining <= 0) {
          clearTimeout(timeout);
          timeout = null;
          previous = now;
          result = func.apply(context, args);
          } else if (!timeout && options.trailing !== false) {
          timeout = setTimeout(later, remaining);
        }
        return result;
      };
    };

    var throttledScroll = _.throttle(function () {
      var temp = 0;
      var scrollTop = $(document).scrollTop();
      var windowHeight = $(window).height();
      $(".section").each(function () {
        var opacity = (scrollTop + (7/4)*$(this).height() - $(this).offset().top) / ($(this).height());
        /*
        if (lastScroll < scrollTop){
          if (scrollTop > $(this).offset().top - windowHeight*(2/3)){
            $(this).find(".container").addClass("fade-in");
            $(this).find(".container").removeClass("fade-out");
          }
        }
        else {
          if (scrollTop < $(this).offset().top - windowHeight/3){
            $(this).find(".container").addClass("fade-out");
            $(this).find(".container").removeClass("fade-in");
          }
        }
        */
        console.log("ratio: " + opacity);
        $(this).find(".container").fadeTo(0, opacity);
      });
      lastScroll = scrollTop;
    }, 10);

    $(window).bind('scroll',  throttledScroll);
  });
</script>
