<section class="full-bleed-section">
  <div class="full-bleed">
    <div class="container">
      <div class="brand">
        <span class="lato-900"><strong>WILD CARD</strong></span><span class="lato-100"> ULTIMATE</span>
      </div>
      <div class="sponsor">
        <span>sponsored by </span>
        <span class="five-ultimate">
          <a href="http://fiveultimate.com" target="_blank">
            <%= image_tag("five-ultimate-logo.png", width: '160') %>
          </a>
        </span>
      </div>
    </div>
  </div>
  <div class="down-hint">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5" id="down-hint-arrow">
          <span class="fa-stack fa-2x fade-bounce">
            <span class="fa fa-circle-thin fa-stack-2x"></span>
            <span class="fa fa-chevron-down fa-stack-1x"></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>Who are we? We're Card.</h1>
        <hr class="wc-hr"></hr>
        <p>
        A Boston-based Mixed Club Ultimate team born in 2012 from the idea that diverse talent with focused, hard work can achieve great things. 
        Wild Card is returning for its fifth season to test its mettle against the top teams in the United States and abroad. 
        After four consecutive appearances at the USAU Club Championships, including two semifinals appearances and a Team Spirit award, Wild Card will kick off its 2017 summer ready to work toward another successful fall. 
        </p>
        <p>
        As a young and determined team, we look to build each season one point at a time, and strive to maintain a positive atmosphere on the playing field by supporting each other, honoring our opposition, and upholding the spirit of competition.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="section" id="values">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h1>Work Card. Play Card.</h1>
        </div>
        <p>
          Thinking about the team we want to be both on and off the field, numerous Wild Card members past and present contributed to an articulation of the shared vision and values that we seek to represent. 
        </p>
        <p>
          Wild Card strives to be a tenacious yet spirited team that is respected by its opponents and adored by its members. We seek to be a premier mixed club team in the Northeast and a perennially competitive team nationally. We do this by playing elite ultimate while having fun, building a strong team community, and combining our dedication to hard work, love for our teammates, and passion for the sport.
        </p>
        <p>
        In pursuing this purpose, we are guided by four core values: 
        <ul>
          <li><strong>Supportive Team Culture:</strong>  Maintaining a fun, positive team culture on and off the field as a foundation to our success that stays consistent through challenges.</li>
          <li><strong>Team above Self:</strong>  Valuing team success over individual accomplishments or contributions.</li>
          <li><strong>Commitment to Mixed Ultimate:</strong>  Promoting equal opportunities for both our women and our men to develop and to contribute as players and as leaders.</li>
          <li><strong>Commitment to Process:</strong>  Committing to continuous personal and team improvement.  We recognize that successes are built through hard work and team bonding.</li>
        </ul>
        </p>
        <p>
        Our mission, vision and values are embodied in Wild Card's three guiding principles: Passion, Ownership, and Process, or "POP." 
        </P>
      </div>
    </div>
  </div>
</section>
<section class="section" id="more-info">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h2>Want to be dealt a hand this season?</h2>
        </div>
        <p>
        Tryouts for WC2017 are right around the corner! We are a process-driven team that is committed to working together to play at the highest possible level.
        </p>
        <p>
        We are looking for players who are hard-working and passionate about Ultimate; who are willing to put team above self, and have fun while doing it. We will be holding an open tryout on April 22nd at the Jonas Clarke Middle School in Lexington MA — subsequent tryouts will be by invitation only.
        </P>
        <p>
        If you are interested in trying out for Card this year, please take a moment to fill out <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc4oNd1BJocYcPhEtm_ap9ybva2DeNe0On7PtThlJOIaOGymQ/viewform">this survey</a> so that we can get in touch with you. If you know of anyone else who may be interested in getting Wild this season, feel free to share that tryout link!
        </p>
        <p>
        Got questions? We (may) have answers! Don't hesistate to reach out to us at <a href='mailto:wildcardult@gmail.com'>wildcardult@gmail.com</a>.
        </P>
        We hope to see you soon, 
        <br>
        <span class="signature">Wild Card Tryout Committee 2017</span>
      </div>
    </div>
  </div>
</section>
